VITE_FIREBASE_API_KEY=AIzaSyC4VQJneJhsX2jKnTIU5s27zi0JPY_5Xw8
VITE_FIREBASE_AUTH_DOMAIN=sentrix-demo-164.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sentrix-demo-164
VITE_FIREBASE_STORAGE_BUCKET=sentrix-demo-164.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=873945813936
VITE_FIREBASE_APP_ID=1:873945813936:web:adc2164c76ecb3352f7c75

# Tenant demo dùng để dev local
VITE_DEMO_TENANT_ID=pho-ba-lan_1722500000000

# true = mock data | false = Firestore thật (Giai đoạn 6)
VITE_USE_MOCK_FIRESTORE=false
